<h1 class="title">Welcome</h1>

<div class="card">
    <h1>Lorem Ipsum</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur, beatae, consequatur deleniti deserunt
        doloremque dolores dolorum ea eius enim eum eveniet ex facilis fugiat ipsam iste itaque laboriosam laudantium
        maiores nesciunt nobis omnis optio perferendis perspiciatis porro provident quia quis quos reiciendis
        reprehenderit
        sint tenetur totam ut velit veritatis?
    </p>
</div>
