:root {
    --primary-color-400: #FCFCFC;
    --primary-color-500: #EEEEEE;
    --primary-color-600: #434343;

    --secondary-color-400: #DD6A3A;
    --secondary-color-500: #AA512C;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--primary-color-500);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color-600);
}

body {
    margin: 0;
    color: var(--primary-color-600);
    background-color: var(--primary-color-400);
    font-family: 'Poppins', sans-serif;
    padding-bottom: 65px;
}

header, footer {
    box-shadow: 0 0 0 6px;
    background-color: var(--primary-color-500);
    width: 100%;
}


.navbar {
    gap: 20px;
}

.grid {
    display: grid;
    place-items: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: row wrap;
}

a {
    transition: all 0.3s ease-in-out;
    color: var(--secondary-color-400);
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: var(--secondary-color-500);
}

h1.title {
    font-size: 3em;
    font-family: 'Pattaya', sans-serif;
    text-align: center;
}

.card {
    margin: 20px 0;
    width: clamp(240px, calc(100% - 40px), 1500px);
    background-color: var(--primary-color-500);
    border-radius: 5px;
    padding: 10px 20px;
}

main > * {animation: slide-up 1s ease-in-out;}
main > h1 {animation: slide-up 0.8s ease-in-out;}
main > .card {animation: slide-up 1.2s ease-in-out;}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    padding: 20px 0;
    width: 90%;
}

.flat {
    padding: 0
}

footer {
    position: fixed;
    bottom: 0;
    height: 65px;
}
