RewriteEngine On
RewriteRule ^([A-z0-9_/-]*)$ index.php?p=$1
RewriteBase /

<FilesMatch "\.(css|js)$">
  Header set Cache-Control "max-age=604800, public"
</FilesMatch>

<FilesMatch "\.(img|svg)$">
  Header set Cache-Control "max-age=2678400, public"
</FilesMatch>
